/94_Binary_Tree_Inorder_Traversal/Debug/*
/94_Binary_Tree_Inorder_Traversal/94_Binary_Tree_Inorder_Traversal/*.vcxproj
/94_Binary_Tree_Inorder_Traversal/94_Binary_Tree_Inorder_Traversal/*.vcxproj.filters
/94_Binary_Tree_Inorder_Traversal/94_Binary_Tree_Inorder_Traversal/*.vcxproj.user
/94_Binary_Tree_Inorder_Traversal/94_Binary_Tree_Inorder_Traversal/Debug/*
/94_Binary_Tree_Inorder_Traversal/*.sln
/94_Binary_Tree_Inorder_Traversal/.vs

/calculate/Debug/*
/calculate/calculate/*.vcxproj
/calculate/calculate/*.vcxproj.filters
/calculate/calculate/*.vcxproj.user
/calculate/calculate/Debug/*
/calculate/*.sln
/calculate/.vs

/144_Preorder_Traversal/Debug/*
/144_Preorder_Traversal/144_Preorder_Traversal/*.vcxproj
/144_Preorder_Traversal/144_Preorder_Traversal/*.vcxproj.filters
/144_Preorder_Traversal/144_Preorder_Traversal/*.vcxproj.user
/144_Preorder_Traversal/144_Preorder_Traversal/Debug/*
/144_Preorder_Traversal/*.sln
/144_Preorder_Traversal/.vs